.title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.name {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
}

.contact_section{
    background-color: #947575;
 /* Määrab nurgad */
 border-radius: 22px;

 /* Määrab polsterduse kõigile neljale küljele */
 padding: 120px;
 padding-top: 120px;

 /* Määrab elemendi täieliku laiuse ja kõrguse ekraanil */
 width: 95%;
 height: auto;
 
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.contact_info p {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}



.contact_info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact_section {
    background-color: #595961;;
    color: #f5f2f2;
    padding: 50px 0;
}

.contact_container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 25px;
    width: 750%; /* Määrake laius vastavalt soovile, näiteks 30% ekraanilaiusest */
    

}

.contact_content {
    width: 50%;
    margin: 60px auto;
    padding: 60px;
 }
