.video-container {      /*kasutusel*/
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.cleaning-container {
    float: right;   

}

.video-content {      
    flex: 1; 
}

.video-content video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.about-container {
 /* display: block;*/
/*  position: absolute;*/
  /*height: 100%;*/

  max-height: 80%;

  background-color: #333;
  overflow-y: scroll;
/*  margin-top: 1.5vw;
  margin-bottom: 5.5vw;*/
  justify-content: center;
/*  padding: 5vw;*/
  text-align: center;


  }

.about-text-container a {
    text-decoration: none;
}

.about-text-container img {
    width: 80%;
    height: 80%; /* Muuda vastavalt soovile */
    border-radius: 50%;

}

.about-container h1 {
    font-size: 2.5vw;
    color: #676262;
    padding: 5vw;

}

.about-container h2 {
    font-size: 2.5vw;
    color: #676262;

}

.about-container h3 {
    font-size: 2vw;
    color: #676262;

}

.about-container p {
    font-size: 2vw;
    padding: 5vw;

  }


  @media (max-width: 300px) {
.about-container {
  display: block;
  background-color: #333;
  overflow-y: scroll;
  margin-top: 1.5vw;
  margin-bottom: 5.5vw;
  justify-content: center;
  padding: 1rem;


  }
}

@media (max-width: 768px) {
.about-container {
  display: block;
  background-color: #333;
  overflow-y: scroll;
  margin-top: 1.5vw;
  margin-bottom: 5.5vw;
  justify-content: center;
  padding: 1rem;
  width: 90%;
  max-height: 80%;
  opacity: 0.98;
  }

  .about-container h1 {
    font-size: 4.5vw;
    color: #676262;
    padding: 5vw;

}

.about-container h2 {
    font-size: 5.5vw;
    color: #676262;

}

.about-container h3 {
    font-size: 2vw;
    color: #676262;

}

.about-container p {
    font-size: 5vw;
    padding: 5vw;

  }

}
