.about-container {
    margin-top: 8vw; 
    background-color: #333;
    padding: 5vw;
    border-radius: 1vw;
    width: 98%;
    height: 100%;
    position:absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;

    overflow-y: scroll;
    max-height: 85vh;
    display:inline-block;
    z-index: 1;

   }
  /* Peidab about-container-i scrollbari*/
  .about-container::-webkit-scrollbar {
    width: 8px; 
}

.about-text-container a {
    text-decoration: none;
}

.about-text-container img {
    width: 80%;
    height: 80%; 
    border-radius: 50%;
}

.about-container h1 {
    font-size: 5vw;
    color: #676262;
}

.about-container h2 {
    font-size: 5vw;
    color: #676262;

}

.about-container h3 {
    font-size: 5vw;
    color: #676262;

}

.about-container p {
    font-size: 4vw;
  }