
.client-container {
  margin-top: 15px; 
  background-color: #333;
  padding: 5vw;
  border-radius: 1vw;
  width: 98%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow-y: scroll;
  max-height: 85%;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4vw;
  z-index: 1;
}

  /* Peidab client-container-i scrollbari*/
  .client-container::-webkit-scrollbar {
    width: 8px; 
}



.client-container img {
  border-radius: 1.5rem;
  cursor: pointer;

  max-width: 100%;
  width: 100vw;
  height: 15vw;

}

.client-container img:hover {
  animation: remove-overflow 2s forwards;
}

.client-container img:not(:hover) {
  animation: show-overflow 2s forwards;
}


@keyframes show-overflow {
  to {
    overflow: visible;
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

