
.contact-container {
    margin-top: 16vw; 
    margin-bottom: 20px;
    display: flex;
    flex: 1;
    position: absolute;
    background: linear-gradient(to bottom right, #333, #958686);
    flex-wrap: wrap; /* Vajadusel lähevad järgmised elemendid uuele reale */
    align-items: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
   /* padding-top: 2.5vw;*/
    border-radius: 1vw;
    width: 95%;
    height: 95%;
    max-width: 98%; 
    max-height: 85vh; 
   /* height: 80%;*/
    text-align: center;
    z-index: 1;
  }

  /* Peidab contact-container-i scrollbari*/
  .contact-container::-webkit-scrollbar {
    width: 8px; 
}
  


  .contact-info{
    padding: 0.2vw;
    flex: 1;
    flex-wrap: wrap;
    z-index: 1;
    color: #fff;
    text-align: left;
    max-width: 65%; 
    max-height: 85%; 
    width: auto; 
    height: auto; 
    position: relative;

  }

  .contact-info h1{
    padding: 0.2vw;
    font-size: 3vw;
    color: #fff;
  }

  .contact-info p{
    padding: 2vw;
    height: auto;
    max-height: 85%;
    font-size: 2vw;
    color: #fff;
  }

  .contact-info a{
    padding: 0.5vw;
    font-family: 'Arial';
    font-size: 2vw;
    color: #afd26c;
  }

  .contact-info img {
    max-width: 65%; 
    max-height: 45%; 
    width: auto; 
    height: auto; 
    overflow: hidden;
  }
  
 .form-container {
  padding: 1vw;
  flex: 1;
  flex-wrap: wrap;
  z-index: 1;
  color: #fff;
  text-align: center;
  max-width: 85%; 
  max-height: 85%; 
  display: block;

}

.form-container label{
    font-size: 3.3vw;
    text-align: left; 
    color: #fff;
}

.form-container h1{
    font-size: 4vw;
    color: #fff;
}

.form-container input[type=text], select, textarea {
  font-size: 4vw;
  font-family: 'Arial';
  width: 100%;
  height: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5vw;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.form-container input[type=submit] {
  font-size: 5.5vw;
  background-color: #023629;
  color: white;
  width: 35vw;
  height: 8vh;
  border-radius: 6vw;
  border: none;
  cursor: pointer;
}

.form-container input[type=submit]:hover {
  font-size: 1.5vw;
  background-color: #45a049;
}
