* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 90%; /* Tagab, et <body> ja <html> on täiskõrguses */
  margin: 0;
  padding: 0;
}

.video-container {
    display:flex;
    position: relative;
    width: 100%;
    height: 98vh;
      }
  
  .video-content {
    flex: 1;
  }
  
  .video-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .rental-container {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 0.5vw;
    row-gap: 2.5vw;
    background: linear-gradient(to bottom right, #333, #958686);
    transform: translate(-50%, -50%);
    width: 77%;
  
    border-radius: 1vw;
    overflow-y: auto; 
    scrollbar-width: none;

    max-height: 85%;
    opacity: 0.98;
    position: absolute;
  padding-bottom: 1.5vw;
    top: 57%;
    left: 60%;
    z-index: 2;
  
  }


  aside {
    width: 20%; 
    background: linear-gradient(to bottom right, #333, #958686);
    top: 8%;
    position: fixed;
    height: 100%;
    z-index: 2;
    overflow-y: auto; 
    scrollbar-width: none;

  }
  aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    overflow-y: auto; 

    position: relative;

  }
  
  aside li {
    margin-bottom: 5px;

  }
  
  aside a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;


  }

/* .card {
  position: relative;
  height: calc(100% - 30px);
   width: calc(33.333% - 30px);
 background: #fff;
  overflow: hidden;
  float: left;
  margin: 15px;
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: calc(100% - 80px);
    left: 0;
    opacity: 1;
    transition: all 0.75s ease-in-out;
    
    display: flex;
    align-items: top;
    justify-content: center;
    
    &-inner {
      position: relative;
      display: block;
      height: 80px;

      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: center;
      
      transition: all 0.75s ease-in-out;
    }
    &:after {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-color: #fff;
      border-style: solid;
      border-width: 2px 0 0 2px;
      content: "";
    }
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
  }
  &__description {
    color: #eee;
  }
  &:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
  }
  &.a100,
  &:hover {
    cursor: pointer;
    .card__content {
      top: 0;
      background: #000;
      transition: all 1s ease-in-out;
      &-inner{
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
      }
    }
  } 
  &.a50{
    .card__content {
       top: 50%;
      &-inner{
        height: 50%;}
    }
    &:hover {
      .card__content {
         top: 0;
        &-inner{
          height: 100%;}
      }      
    }
  }
  &.a100{
     &:hover {
      .card__content {
         top: calc(100% - 80px);
        &-inner{
          height: 80px;}
      }
    }
  }
}
 */

 .card {
  position: relative;
  height: calc(100% - 30px);
/*   width: calc(33.333% - 30px);
 */ background: linear-gradient(to bottom right, #dbd3d3, #7e7878);
  border-radius: 1vw;
  border-style: double;
  overflow: hidden;
  float: left;
  margin: 15px;
  padding: 5px;
  opacity: 0.6;
 }

.card__title{
  display:flex;
  font-size: 1.5rem;
  justify-content: center;

}

.card__description {
  width: auto;
  height: 150px; /* Määrab konteineri kõrguse */
  overflow-y: auto; /* Vertikaalne kerimine */
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style:groove;
  border-color: #0c0b0b;
  padding: 8px;
}

.card:hover {opacity: 1;}


.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  }
  

.price_container{
  background-color: #ffffff;
}

.product_price{
  display: flex;
  font-size: 2.5vh;
  color: #000000;
  justify-content: center;
}

.VAT{
  display: flex;
  justify-content: center;
}

  @media (max-width: 300px) {
    .card {
      opacity: 1;
    }
  }

    @media (max-width: 768px) {
  .rental-container{
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4vw;
    top: 57%;
    left: 50%;
    width: 85%;
  }

  .card {
    opacity: 1;
  }

  aside{
    display: none;
  }
}