{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/contact.css' %}" type="text/css" rel="stylesheet">

<section class="contact_section">
<div class="contact_container">
    <div class="contact_content">
        <h1 class="title">Manager and Owner</h1>
        <p class="name">Carlos Bravo</p>
        <div class="contact_info">
            <p>Website: <a href="http://www.servilimp.fi" target="_blank">www.servilimp.fi</a></p>
            <p>Tel. 050 323 6847</p>
            <p>Email: <a href="mailto:servlimp2001@gmail.com">servlimp2001@gmail.com</a></p>
        </div>
    </div>
</div>
</section>
{% endblock%}