{% extends 'base.html' %}
{% load static %}
{% block content %}

<script type="text/javascript" src="{% static 'js/about.js' %}"></script>
 

<!--  <link href="{% static 'css/about.css' %}" type="text/css" rel="stylesheet">
 -->
<style>

.cleaning-container {
    margin-top: 16vw; 
    background-color: #333;
    padding: 1vw;
    border-radius: 1vw;
    width: 98%;
    height: 100%;
    position:absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 85vh;
/*     display:flexbox;
 */    z-index: 1;

   }

h1 {
    color: #f2e9e9;
}


.cleaning-txt {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "text";
    padding: 2vw;
    width: 100%;
/*     margin: 20px;
 */    text-align: justify;
}

.cleaning-txt p {
    grid-area: text;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.cleaning-txt img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


.blurry-image {
    filter: blur(0px);
}
</style>


                    <div class="cleaning-container">
                        <h1>Cleaning services</h1>

                        <div class="cleaning-txt">
                            <p>
                                Servilimp offers cleaning service for all types of needs, whether for a small apartment or a large residence.
Imagine entering a fragrant, already clean home after a long day at work. Let us take care of your cleaning needs, so you can enjoy your well earned time off.
Dismantling of waste containers and if necessary cleaning them, exchange of trash bags Vacuum cleaning and washing the floors Wiping of door handles and circuit breakers Putting the chairs beautifully in front of the workstations Wiping shelves and levels Wiping only empty space of the workstations Ensuring general cleanliness.
                            </p>
                            <img src="{% static 'pictures/button_container_bg2.jpeg' %}" class="blurry-image" alt="">


                        </div>
                        </div>
                    

<!--     <script>
        var video = document.getElementById("myVideo");
        video.playbackRate = 0.5;
    </script>  -->

    {% endblock%}