{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/clients.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/clients_zoom.js' %}"></script> <!--modal-->

<div class="video-container">
  
  <div class="client-container">
    {% if clients_items %}
    {% for client_item in clients_items %}
            <img src="{{ client_item.client_logo.url }}" alt="" data-client-image-src="{{ client_item.client_image.url }}">
    {% endfor %}
    {% else %}
    <div class="text-center">
      <h2> No items found. </h2>
      <hr>
      <br>
      <a href="{% url 'clients' %}" class="btn btn-primary" style="background-color:#482809"; >Continue whatcing</a>
  </div>
  {% endif %}
    </div>
    <div class="video-content">
      <video autoplay loop muted width="320" height="180" loading="lazy">
          <source src="{% static 'videos/2000.mp4' %}" type="video/mp4">
          <p>Your browser does not support the video tag.</p>
      </video>
  </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

	<!-- Modal Content (The Image) -->
	<img class="modal-content" id="img01">

	<!-- Modal Caption (Image Text) -->
	<div id="caption"></div>
</div>


{% endblock %}
