{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/contact.css' %}" type="text/css" rel="stylesheet">


<div class="contact-container">
    <div class="info">
      <h2>Ettevõtte Info</h2>
      <p><strong>Ettevõtte juht:</strong> nimi</p>
      <p><strong>Aadress:</strong> aadress</p>
      <p><strong>Telefoninumber:</strong> 616516516</p>
    </div>
    <div class="form-container">
      <h2>Kirjuta meile</h2>
      <form>
        <label for="name">Nimi:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Sõnum:</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Saada</button>
      </form>
      <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
    </div>
  </div>

  {% endblock %}