{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/contact.css' %}" type="text/css" rel="stylesheet">

<div class="contact-container">

        <div class="contact-info">
            <h1 class="title">Manager and Owner</h1>
            <p class="name">Mr. Carlos Bravo</p>
            <p>Phone: +358 50 323 6847</p>
            <img src="{% static 'pictures/team.jpeg' %}" alt="">
        </div>


        <div class="form-container">

            <form action="{% url 'contact' %}" method="POST">
              {% csrf_token %}
              <h1>How can we help you?</h1>
              <hr>
              <label for="fname">Your Name</label>
              <input type="text" id="fname" name="name" placeholder="Your name..">
          
              <label for="lname">Email</label>
              <input type="text" id="lname" name="email" placeholder="Your email..">
                    
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          
              <input type="submit" value="Send">
            </form>
          </div>

</div>

{% endblock%}