{% extends 'base.html' %}
{% load static %}
{% block content %}

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link href="{% static 'css/zoom.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/rental.css' %}" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/card.js' %}"></script> <!--logo-->
<script type="text/javascript" src="{% static 'js/zoom.js' %}"></script> <!--modal-->



<div class="video-container">

<!-- <div class="gallery-container">
 -->  <div class="main-container">

        <div class="card-container">
            <div class="images">
              <img src="/static/pictures/image6.png" />
            </div>
            <div class="slideshow-buttons">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
              <div class="four"></div>
            </div>
         <!--   <p class="pick">choose size</p>
             <div class="sizes">
              <div class="size">5</div>
              <div class="size">6</div>
              <div class="size">7</div>
              <div class="size">8</div>
              <div class="size">9</div>
              <div class="size">10</div>
              <div class="size">11</div>
              <div class="size">12</div>
            </div> -->
            <div class="product">
              <h1>Attachable Glass Holder</h1>
              <h1>47 cl</h1>
        
              <h2>0,40€ + 24% VAT</h2>
                  <div class="desc-container">
                    <p class="desc">The Carat collection is based on a contemporary interpretation of the traditional glass grinding for which Orrefors is world-renowned. The irregular geometry produces beautiful reflections of light in the crystal. Carat Coupe is a glass for sparkling drinks and cocktails. The glass has a wide bowl that allows the drink to breathe, for a more developed aroma. It can also be used for desserts. The stem of the glass is covered with the collection’s characteristic pattern. Designed by Lena Bergström.</p>
                  </div>
                  <div class="buttons">
                    <button class="add">Add to Cart</button>
        <!--             <button class="like"><span>♥</span></button>
         -->          </div>
            </div>
          </div>
        
          <div class="card-container">
            <div class="images">
              <img src="/static/pictures/image6.png" />
            </div>
            <div class="slideshow-buttons">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
              <div class="four"></div>
            </div>
         <!--   <p class="pick">choose size</p>
             <div class="sizes">
              <div class="size">5</div>
              <div class="size">6</div>
              <div class="size">7</div>
              <div class="size">8</div>
              <div class="size">9</div>
              <div class="size">10</div>
              <div class="size">11</div>
              <div class="size">12</div>
            </div> -->
            <div class="product">
              <h1>Attachable Glass Holder</h1>
              <h1>47 cl</h1>
        
              <h2>0,40€ + 24% VAT</h2>
                  <div class="desc-container">
                    <p class="desc">The Carat collection is based on a contemporary interpretation of the traditional glass grinding for which Orrefors is world-renowned. The irregular geometry produces beautiful reflections of light in the crystal. Carat Coupe is a glass for sparkling drinks and cocktails. The glass has a wide bowl that allows the drink to breathe, for a more developed aroma. It can also be used for desserts. The stem of the glass is covered with the collection’s characteristic pattern. Designed by Lena Bergström.</p>
                  </div>
                  <div class="buttons">
                    <button class="add">Add to Cart</button>
        <!--             <button class="like"><span>♥</span></button>
         -->          </div>
            </div>
          </div>

          <div class="card-container">
            <div class="images">
              <img src="/static/pictures/image6.png" />
            </div>
            <div class="slideshow-buttons">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
              <div class="four"></div>
            </div>
         <!--   <p class="pick">choose size</p>
             <div class="sizes">
              <div class="size">5</div>
              <div class="size">6</div>
              <div class="size">7</div>
              <div class="size">8</div>
              <div class="size">9</div>
              <div class="size">10</div>
              <div class="size">11</div>
              <div class="size">12</div>
            </div> -->
            <div class="product">
              <h1>Attachable Glass Holder</h1>
              <h1>47 cl</h1>
        
              <h2>0,40€ + 24% VAT</h2>
                  <div class="desc-container">
                    <p class="desc">The Carat collection is based on a contemporary interpretation of the traditional glass grinding for which Orrefors is world-renowned. The irregular geometry produces beautiful reflections of light in the crystal. Carat Coupe is a glass for sparkling drinks and cocktails. The glass has a wide bowl that allows the drink to breathe, for a more developed aroma. It can also be used for desserts. The stem of the glass is covered with the collection’s characteristic pattern. Designed by Lena Bergström.</p>
                  </div>
                  <div class="buttons">
                    <button class="add">Add to Cart</button>
        <!--             <button class="like"><span>♥</span></button>
         -->          </div>
            </div>
          </div>

          <div class="card-container">
            <div class="images">
              <img src="/static/pictures/image6.png" />
            </div>
            <div class="slideshow-buttons">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
              <div class="four"></div>
            </div>
         <!--   <p class="pick">choose size</p>
             <div class="sizes">
              <div class="size">5</div>
              <div class="size">6</div>
              <div class="size">7</div>
              <div class="size">8</div>
              <div class="size">9</div>
              <div class="size">10</div>
              <div class="size">11</div>
              <div class="size">12</div>
            </div> -->
            <div class="product">
              <h1>Attachable Glass Holder</h1>
              <h1>47 cl</h1>
        
              <h2>0,40€ + 24% VAT</h2>
                  <div class="desc-container">
                    <p class="desc">The Carat collection is based on a contemporary interpretation of the traditional glass grinding for which Orrefors is world-renowned. The irregular geometry produces beautiful reflections of light in the crystal. Carat Coupe is a glass for sparkling drinks and cocktails. The glass has a wide bowl that allows the drink to breathe, for a more developed aroma. It can also be used for desserts. The stem of the glass is covered with the collection’s characteristic pattern. Designed by Lena Bergström.</p>
                  </div>
                  <div class="buttons">
                    <button class="add">Add to Cart</button>
        <!--             <button class="like"><span>♥</span></button>
         -->          </div>
            </div>
          </div>

          <div class="card-container">
            <div class="images">
              <img src="/static/pictures/image6.png" />
            </div>
            <div class="slideshow-buttons">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
              <div class="four"></div>
            </div>
         <!--   <p class="pick">choose size</p>
             <div class="sizes">
              <div class="size">5</div>
              <div class="size">6</div>
              <div class="size">7</div>
              <div class="size">8</div>
              <div class="size">9</div>
              <div class="size">10</div>
              <div class="size">11</div>
              <div class="size">12</div>
            </div> -->
            <div class="product">
              <h1>Attachable Glass Holder</h1>
              <h1>47 cl</h1>
        
              <h2>0,40€ + 24% VAT</h2>
                  <div class="desc-container">
                    <p class="desc">The Carat collection is based on a contemporary interpretation of the traditional glass grinding for which Orrefors is world-renowned. The irregular geometry produces beautiful reflections of light in the crystal. Carat Coupe is a glass for sparkling drinks and cocktails. The glass has a wide bowl that allows the drink to breathe, for a more developed aroma. It can also be used for desserts. The stem of the glass is covered with the collection’s characteristic pattern. Designed by Lena Bergström.</p>
                  </div>
                  <div class="buttons">
                    <button class="add">Add to Cart</button>
        <!--             <button class="like"><span>♥</span></button>
         -->          </div>
            </div>
          </div>
        
        
 
  </div>
  <aside>
    <ul>
        <li><a href="#">Glases</a></li>
        <li><a href="#">Plates</a></li>
        <li><a href="#">Utensils and Cutlery</a></li>
        <li><a href="#">Cup sets for Cofee and Tea</a></li>
        <li><a href="#">Bowls and Trays For Serving</a></li>
        <li><a href="{% url 'contact' %}">Thermos</a></li>
        <li><a href="#">Cooler, Trays and Spittoon</a></li>
        <li><a href="#">Food Heating</a></li>
        <li><a href="#">Tables for Events</a></li>
        <li><a href="#">Delivery and Pickup</a></li>
    </ul>            
</aside>
{% endblock %}