{% extends 'base.html' %}
{% load static %}
{% block content %}

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link href="{% static 'css/zoom.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/rental1.css' %}" type="text/css" rel="stylesheet"> 

<script type="text/javascript" src="{% static 'js/card.js' %}"></script>
<div class="video-container">

  <aside>
    <ul>
      <li><a href="{% url 'rental' %}">All products</a></li>
      <hr>
      {% for category in links %}
          <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
      {% endfor %}
    </ul>            
  </aside> 

  <!-- Toodete ala -->
  <div class="rental-container">
    {% if products %}
      {% for product in products %}
      <div class="card">
        <div class="card__content">
          <div class="card__content-inner">
            <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
            <br>
            <br>
            <div class="card__title">{{ product.product_name }}</div>
            <br>
          <div class="price_container">
            <div class="product_price">{{ product.price }} Eur </div>
            <div class="VAT">+ 24% VAT / pcs.</div>
          </div>
            <br>
            <div class="card__description">{{ product.description }}</div>
            <br>
          </div>
        </div>
      </div>
          {% endfor %}
    {% else %}
      <div class="text-center">
        <h2>No items found.</h2>
        <hr>
        <br>
        <a href="{% url 'rental' %}" class="btn btn-primary" style="background-color:#482809;">Continue shopping</a>
      </div>
    {% endif %}
  </div>

    <div class="video-content">
      <video autoplay loop muted>
          <source src="{% static 'videos/2000.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
      </video>

  </div>
{% endblock %}
