@import url(https://db.onlinewebfonts.com/c/a22ece56f337b19152478df32b9c5e1f?family=Sprat+Condensed+Medium);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sprat Condensed Medium';
}



header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.7;
    z-index: 1000; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

/* Üldine stiil sektsioonile .image-section */
.image-section {
    background-color: #463d3d;;
    color: #f5f2f2;
    padding: 50px 0;
}

/* Stiil container'ile */
.image-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    background-color: #010101;

}

/* Stiil vasakule veerule (column-left) */
.image-section .column-left {
    flex: 1;
}

/* Stiil tekstile */
.image-section .text {
    font-size: 24px;
    font-weight: bold;
    font-family: "Sprat Condensed Medium"; 
    padding: 30px; /* Vajadusel muuda */

}

/* Stiil nupule */
.image-section button {
    background-color: #fff;
    color: #222;
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

/* Hover efekt nupule */
.image-section button:hover {
    background-color: #ccc;
}

/* Stiil paremale veerule (column-right) */
.image-section .column-right {
    flex: 1;
}

/* Stiil pildile */
.image-section img {
    width: 100%;
    border-radius: 12px; 
    padding-top: 10px;

}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: medium;
}



/* Mobiilivaade */
@media only screen and (max-width: 600px) {
    nav {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}



  


